/* Hero */
#hero {
	display: flex;
	justify-content: space-between;
	height: calc(100vh - 60px * 3);
	align-items: center;
}

#hero .hero__infos {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
}

#hero .hero__infos h1 {
	font-weight: 400;
	font-size: 32px;
	max-width: 500px;
}

#hero .hero__infos h2 {
	font-size: 16px;
	font-weight: 400;
	color: var(--font-color-sub);
}

#hero .hero__app-sc {
	position: relative;
	height: 450px;
	margin-left: auto;
	box-shadow: 2px 5px 15px 1px rgb(0 0 0 / 30%);
}

/* Features */
#features {
	padding: 60px 400px;
	display: flex;
	flex-direction: column;
}

#features .nav {
	position: sticky;
	width: calc(100% - 15px * 2 + 50px);
	margin-left: -25px;
	top: calc(40px + 15px * 2); /* Feature navbar height */
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	padding: 30px 15px 0px;
	margin-bottom: 60px;
	align-self: flex-start;
	backdrop-filter: blur(5px);
	z-index: 998;
}

#features .nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
}

#features .nav ul li {
	cursor: pointer;
}

#features .nav ul li:after {
	content: "";
	position: relative;
	left: 50%;
	top: 1px;
	transform: translateX(-50%);
	display: block;
	height: 2px;
	width: 0%;
	background: var(--highlight);
	transition: width 0.3s ease;
}

#features .nav ul li:hover:after,
#features .nav ul li.active:after {
	width: calc(100% + 30px);
}

#features .nav ul li a {
	display: block;
	color: var(--font-color);
	transition: color 0.3s ease;
	padding-bottom: 15px;
}

#features .nav ul li a:hover,
#features .nav ul li:hover a,
#features .nav ul li.active a {
	color: var(--highlight-accent);
	text-decoration: none;
}

#features .feature {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 60px;
	scroll-margin-top: calc(60px + 60px + 40px);
}

#features .feature:last-child {
	margin-bottom: 0;
}

#features .feature img {
	border-radius: 15px;
	box-shadow: 2px 5px 15px 1px rgb(0 0 0 / 30%);
}

#features .feature .feature__info .feature__name {
	font-weight: 400;
	font-size: 32px;
	margin-bottom: 10px;
}

#features .feature .feature__info .feature__details {
	max-width: 70%;
	color: var(--font-color-sub);
	opacity: 0.7;
	font-size: 16px;
}
