// Imports
@use "variables" as v;

// Variables
$background: v.$bg2;
$padding: 25px;
$width: calc(250px);
$height: calc(100vh);

.sidebar {
	position: fixed;
	background: $background;
	width: $width;
	height: $height;
	top: 0;
	left: 0;

	.sidebar__head,
	.sidebar__body {
		position: relative;
		padding: $padding;
	}

	.sidebar__head {
		display: flex;
		justify-content: center;

		&:after {
			content: "";
			position: absolute;
			width: calc(100% - $padding * 2);
			background: v.$color-thin;
			height: 1px;
			bottom: 0;
		}
	}
}