// Imports
@use "variables" as v;

// Variables
$background: v.$bg2;
$padding: 20px;
$width: calc(250px);
$height: calc(100vh);
$title-size: 22px;
$body-gap: 10px;

.sidebar {
	position: fixed;
	background: $background;
	width: $width;
	height: $height;
	top: 0;
	left: 0;

	.sidebar__head,
	.sidebar__body {
		position: relative;
		padding: $padding;
	}

	.sidebar__head {
		display: flex;
		justify-content: center;
		font-size: $title-size;

		&:after {
			content: "";
			position: absolute;
			width: calc(100% - $padding * 2);
			background: v.$color-thin;
			height: 1px;
			bottom: 0;
		}
	}

	.sidebar__body {
		display: flex;
		flex-direction: column;
		gap: $body-gap;
	}

	.sidebar__group {
		.sidebar__group__head {
			display: flex;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;
			margin-bottom: $body-gap;

			.sidebar__group__name,
			.sidebar__group__expand {
				transition: color .3s ease;
			}

			&:hover,
			&.active {
				.sidebar__group__name,
				.sidebar__group__expand {
					color: v.$highlight-accent;
				}
			}
		}

		.sidebar__group__items {
			display: flex;
			flex-direction: column;
			gap: $body-gap;
			padding-left: $body-gap;
			overflow: hidden;
			height: 0;

			&.expanded {
				height: auto;
			}
		}
	}
}